<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<action id="me.imever.pkexec.wifi-password-checker">
		<message>Password required to run WifiPasswordChecker</message>
		<description>WifiPasswordChecker need read Network connections file.</description>
		<icon_name>wifi-password-checker</icon_name>
		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/WifiPasswordChecker</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<description xml:lang="zh_CN">Wifi密码查看器查看过去连接过的Wifi的密码</description>
		<message xml:lang="zh_CN">Wifi密码查看器需要授权</message>
	</action>
</policyconfig>
