[Desktop Entry]
Categories=Network
Comment=Checker wifi password
Exec=wifi-password-checker-pkexec %U
GenericName=Wifi password checker
Icon=wifi-password-checker
Name=Wifi password checker
StartupNotify=false
Terminal=false
Type=Application

# Translations
Comment[zh_CN]=查看曾经连接过的wifi的sid和密码
GenericName[zh_CN]=密码查看器
Name[zh_CN]=Wifi密码查看器
